<form (ngSubmit)="onSubmit()" [formGroup]="regForm">
    <div class="container">
      <h1>Register</h1>
      <hr>
  
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter user name" formControlName="name" id="name" required>

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" formControlName="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName="password" id="psw" required>
  
      <button type="submit" class="registerbtn" [disabled]="!regForm.valid">Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
    </div>
  </form>
