<div class="subscribe-form" id="subscribe">
    <form action="#">
        <a href="#" class="close-btn">
            x
        </a>
        <div class="data">
            <input type="text" placeholder="Enter your e-mail" required />
        </div>

        <div class="btn">
            <div class="inner"></div>
            <button type="submit">Subscribe via E-mail</button>
        </div>

        <div class="signup-link">
            Do you want notifications? <a href="#">Sign up now</a>
        </div>
    </form>
</div>
