<div class="login-form" id="login">
    <form action="#">
        <a href="#" class="close-btn">
            x
        </a>
        <div class="data">
            <label>Email</label>
            <input type="text" placeholder="Enter your e-mail" required />
        </div>
        <div class="data">
            <label>Password</label>
            <input type="password" placeholder="************" required />
        </div>

        <div class="reset-pass">
            <a href="#">Reset Password</a>
        </div>

        <div class="btn">
            <div class="inner"></div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
