<div class="service-checker1">
    <div class="service-heading">Services</div>
    <div class="service-heading">Status</div>
    <div class="service-heading">Uptime</div>
    <div class="service-heading">API</div>
    <div class="service-heading">Response Time</div>

    <div class="monitor" id="service1">
      https://www.google.com
    </div>

    <div class="monitor" id="checker1">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px"
      ></i>
    </div>
    <div class="monitor" id="checker2">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px"
      ></i>
      &nbsp;
      <p></p>
    </div>
    <div class="monitor" id="checker3">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
    </div>
    <div class="monitor" id="checker4">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
      &nbsp;
      <p></p>
    </div>
  </div>
  <br />

  <div class="service-checker2">
    <div class="monitor" id="service2">
      https://www.google.com
    </div>
    <div class="monitor" id="checker5">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
    </div>

    <div class="monitor" id="checker6">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
      &nbsp;
      <p></p>
    </div>
    <div class="monitor" id="checker7">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
    </div>
    <div class="monitor" id="checker8">
      <i
        class="fa fa-check-circle"
        style= "color: green;font-size:20px" 
      ></i>
      &nbsp;
      <p></p>
    </div>
  </div>
  <br />
